header>h1 {
    background-color: yellow;
} 

body {
    max-width: 90%;
    margin: auto;
    background-color: linear-gradient(285deg, #a600ff, #ff6600);
    background-image: url('https://img.freepik.com/free-vector/flat-chinese-new-year-background_23-2149232077.jpg?t=st=1716466283~exp=1716469883~hmac=04784b0a9c3cc4a86e3e33906374ac372973bef916dc8855ce87974085116a21&w=1800');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    font-family: 'Open sans';
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
}

img {
    max-width: 495px;
}

p, ul, h2 {
    order: 1;
    max-width: 20%;
    font-size: 1.2em;
    flex: 2;
}

blockquote {
    width: 50%;
    font-size: 1.6em;
    background-color: lightgray;
    border-left: 3px solid firebrick;
    padding-left: 30px;
    margin: 80px auto;
}

p {
    font-family: 'Times New Roman';
    word-spacing: 2px;
    font-size: 15px;
    color: rgb(25, 31, 31);
}

q {
    font-style: italic;
    border-left: black solid 2px;
}

li:first-child {
    background-image: url('bien.png');
    background-repeat: no-repeat;
    padding-right: 50px;
    background-size: contain;
    background-position: right;
    width: 250px;
}

li:nth-child(2) {
    background-image: url('mal.png');
    background-repeat: no-repeat;
    padding-right: 50px;
    background-size: contain;
    background-position: right;
    width: 250px;
}

li:nth-last-of-type(2) {
    background-image: url('chat.png');
    background-repeat: no-repeat;
    padding-right: 50px;
    background-size: contain;
    background-position: right center;
    width: 250px;
}

.villager {
    border-color: red;
}

.farmer {
    border-color: blue;
}

.b {
    color: red;
    text-transform: capitalize;
}

.g {
    color: green;
    text-transform: capitalize;
}

thead tr {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: grey;
}

tbody tr:nth-child(even) {
    background-color: white; 
}

a {
    color:brown;
}

a:hover {
    color: blue;
}

a:visited {
    color: blueviolet;
}

#first-paragraphe {
    font-weight: bold;
}